# Docker Environment Variables
# Copy file này thành .env và điều chỉnh các giá trị

# MySQL Configuration
MYSQL_ROOT_PASSWORD=minhtrung02
MYSQL_DATABASE=petrolimex
MYSQL_PORT=3306

# Fuel.net Credentials
FUEL_USERNAME=htxthanhsonna
FUEL_PASSWORD=thanhson@123

# Dashboard Port
DASHBOARD_PORT=3000

